In [1]:
import pandas as pd
import numpy as np 
from sklearn.model_selection import train_test_split

## data for train

In [2]:
def get_data(fname, isTrain=True):
    data = []
    with open(fname, 'r', encoding='utf-8') as f:
        for line in f:
            data.append(line) 

    train_dict = {}

    if isTrain == True:
        for data_str in data:
            item = eval(data_str)
            train_dict[item["id"]] = {"media" : item["media"], 
                                     "article_original" : item["article_original"],
                                     "abs":item["abstractive"],
                                     "ext":item["extractive"],
                                     "news_len":len(item["article_original"])}
    else:
        for data_str in data:
            item = eval(data_str)
            train_dict[item["id"]] = {"media" : item["media"], 
                                     "article_original" : item["article_original"],
                                     "news_len":len(item["article_original"])}
        
    return train_dict

In [3]:
train_dict  = get_data("./dacon_ext_summary/data/train.jsonl")

In [4]:
train_dict["327827480"]

{'media': '당진시대',
 'article_original': ['당진시 문화관광과를 대상으로 하는 행정사무감사에서 당진시립합창단 관계자가 보낸 것으로 추정되는 문자와 관련해 당진시의회가 행정사무조사특별위원회를 구성해 조사하겠다고 밝혔다.',
  '당진시의회 행정사무감사 3일차였던 지난 6일 문화관광과를 대상으로 하는 행감에서 최창용 의원은 “(당진시립합창단 정기연주회를 앞두고) 문자메세지를 제보받았다”며 “(음향팀에 보낸 것으로 추정되는) 해당 문자에는 ‘합창단이 소리를 작게 낼 것이니 알고 있으라’는 내용이었다”고 말했다.',
  '이어 “공연에서 소리를 작게 낸다는 것은 합창단으로서 그 임무를 하지 않겠다는 것”이며 “공연 자체를 무력화해 당진시를 망신 주려는 행위”라며 해당 문자를 보낸 단원 등 연루된 사람들을 찾아 사실관계를 확인하고 징계 등 책임을 물어야 한다고 지적했다.',
  '문제의 문자메세지를 전달받은 문화관광과는 감사법무담당관에게 조사를 의뢰했다.',
  '권경선 문화관광과장은 “누가, 어떻게 해서 해당 문자가 나온 것인지 정확히 조사해봐야 알 수 있다”며 “전달받은 문자 내용도 최 의원이 언급한 부분만 있어, 중간 내용만을 가지고는 전체를 유추할 수 없다”고 전했다.',
  '하지만 감사법무담당관실에서 아직 조사가 이뤄지지 않고 있어 당진시가 사태의 심각성을 인지하지 못하고 있다는 지적이다.',
  '그동안 행정사무감사가 진행되고 있어 사태를 지켜봤다던 감사법무담당관실에서는 “관계된 사람들을 조사해 사태를 파악해야 하는데, 아직 조사에 대한 뚜렷한 계획이 없다”고 답했다.',
  '한편 행감이 끝난 지난 12일 당진시의회에서는 당진시립합창단 문제를 비롯해 구체적인 조사가 필요한 부분에 대해 행정사무조사특별위원회를 구성해 운영하겠다고 밝혔다.',
  '김기재 의장은 “본회의 의결과 제적의원 1/3의 발의가 있으면 행정사무조사특별위원회를 구성할 수 있다”며 “다음 달 초 위원들과 상의해 위원회를 구성한다면 당진시립합창단 관련 사안을 비롯해 사회복지기관 위수탁 등에 대해 다룰 계획”이라고 말했다.'],
 'abs': "지난 6일 당진시의회 행정사무감사에서 '합창단이 소리를 작게 낼 것이니 알고 있으라'라는 문자 등으로 불거진 합창단의 의무 불이행 논란에 대해 행정사무조사특별위원회를 구성해 조사를 수행하겠다는 의견을 표명했다.",
 'ext': [0, 1, 2],
 'news_len': 9}

In [5]:
data_dict={}

for item in sub_dict.items():
    
    for idx_, conts in enumerate(item[1]["article_original"]):

        data_id =  str(item[0]) + str(idx_).zfill(3)
        if idx_ in item[1]["ext"]:
            label = 1
        else:
            label = 0
        
        data_dict[data_id]={"document" :conts,
                           "label" : label,
                           "order_weight":int((1-idx_/item[1]["news_len"])*100)}

KeyError: 'ext'

In [11]:
total_data = pd.DataFrame(data_dict)
total_data = total_data.transpose()
total_data = total_data.reset_index()
total_data = total_data.rename(columns={"index" :"id"})

#total_data["news_num"] = total_data["id"].map(lambda x: x[:-3])

In [12]:
total_data[total_data["id"]=="344352232007"]

,id,document,label,order_weight
557594,344352232007,"극저온용 고망간강은 지난 12월 국제 해사안전위원회(IMO, Internationa...",0,36

In [13]:
X_train, X_test = train_test_split(total_data, test_size=0.2, random_state=123, stratify=total_data["label"])

X_train.to_csv("/home/miyoun/jupyter_sangwon.joo/dacon/KoBERT/dacon_ext_summary/data/dacon_train_order_weight_adj.txt", sep="\t", header=None, index=False)
X_test.to_csv("/home/miyoun/jupyter_sangwon.joo/dacon/KoBERT/dacon_ext_summary/data/dacon_test_order_weight_adj.txt", sep="\t", header=None, index=False)

## data for submission

In [28]:
fname = "./dacon_ext_summary/data/extractive_test_v2.jsonl"
data = get_data(fname, False)

In [29]:
data["715512482"]

{'media': '대구일보',
 'article_original': ['공군 제11전투비행단(이하 11전비)이 9월 한 달동안 모두 7차례 걸쳐 야간 비행 훈련을 실시한다.',
  '사진은 F-15 전투기 모습.',
  '공군 제11전투비행단(이하 11전비)이 9월 한 달동안 모두 7차례 걸쳐 야간 비행 훈련을 실시한다.',
  '사진은 F-15 전투기 모습.',
  '공군 제11전투비행단(이하 11전비)이 9월 한 달동안 모두 7차례 걸쳐 야간 비행 훈련을 실시한다.',
  '27일 11전비에 따르면 다음달 야간 비행 훈련은 1주차(2~6일) 2차례, 2주차(9~13일) 3차례, 4주차(23~27일) 2차례 등 모두 7차례 걸쳐 진행된다.',
  '비행 훈련 시간은 일몰 1시간 후부터 오후 10시 사이다.',
  '야간 비행 훈련은 매월 6~8회 실시되고 있는 상태다.',
  '11전비는 이달부터 대구 지자체와 소방서, 경찰청 등 주요 관공서에 야간 비행 훈련 일정을 매월 마지막 주에 공지하고 있다.',
  '지난 26일 대구시와 각 기초단체에 ‘야간비행훈련 일정 및 소음 공지 요청’ 공문을 보내고 훈련 소식을 알렸다.',
  '대구시와 일선 구·군청은 지역 행정복지센터를 통해 공문서를 배포하는 등 지역 아파트 관리사무실 및 지역민에게 공지할 예정이다.',
  '또 문자서비스를 신청한 시민에게는 야간 비행 시 문자로 사전 공지하는 등 소음으로 인한 피해 최소화에 주력하고 있다.',
  '현재 11전비는 훈련 시 기존 항공기 상승 각보다 높은 고도로 전투기를 운용해 소음 피해를 줄이고 있다.',
  '기존 F-15K 전투기 이륙 시 15도 각도로 상승하던 방식에서 25도 각도로 변경했다.',
  '현재 기지 인근에서 듣던 비행 소음은 10데시벨(dB) 이상 감소한 상태다.',
  '11전비 관계자는 “전화나 국민신문고 등을 통해 접수된 소음 민원은 부대 민원실에서 직접 응대해 처리하고 있다”며 “훈련시간에 다수 항공기 이·착륙으로 비행 소음이 예상되는 만큼 지역민의 협조를 부탁한다”고 밝혔다.',
  '한편 긴급출동과 기상급변 등 불가피한 사정으로 인해 야간 비행 일정은 변경될 수도 있다.'],
 'news_len': 17}

In [14]:
data_dict={}

for item in data.items():
    
    for idx_, cont in enumerate(item[1]["article_original"]):

        data_id =  str(item[0]) + str(idx_).zfill(3)
        
        data_dict[data_id]={"document" :cont,
                           "label" : data_id,
                           "order_weight":int((1-idx_/item[1]["news_len"])*100)}

In [15]:
total_data = pd.DataFrame(data_dict)
total_data = total_data.transpose()
total_data = total_data.reset_index()
total_data = total_data.rename(columns={"index" :"id"})

In [20]:
total_data.head()

,id,document,label,order_weight
0,500733466000,▲ 석문간척지 임차법인협의회가 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓...,500733466000,100
1,500733466001,석문간척지 임차법인협의회(이하 간척지협의회)가 농림축산식품부의 부당한 간척지 임대료...,500733466001,88
2,500733466002,43개 영농조합법인이 소속된 간척지협의회는 이번 벼 야적 시위를 통해 현재 1kg당...,500733466002,77
3,500733466003,이들은 지난 12월 7일 농림축산식품부에 탄원서를 제출했지만 “임대료 인하는 올해 ...,500733466003,66
4,500733466004,게다가 임차법인들의 계약기간이 올해 만료되기 때문에 임대료를 인하해도 지난 2년 동...,500733466004,55

In [25]:
total_data[total_data["label"]=="715512482002"]

,id,document,label,order_weight
103315,715512482002,공군 제11전투비행단(이하 11전비)이 9월 한 달동안 모두 7차례 걸쳐 야간 비행...,715512482002,88

In [11]:
total_data
total_data.to_csv("/home/miyoun/jupyter_sangwon.joo/dacon/KoBERT/dacon_ext_summary/data/dacon_submission_order_adj.txt", sep="\t", header=None, index=False)

In [70]:
len(X_test)

113485

In [78]:
total_data["sent_num"] = total_data["label"].map(lambda x: x[:-3])

In [80]:
total_data["score"] = range(0, len(total_data))

In [89]:
total_data["rank"] = total_data.groupby("sent_num")["score"].rank(method="min", ascending=True)
total_data["imp_sentence"] = total_data["rank"].map(lambda x: 1 if x <=3 else 0)

In [98]:
sent_list = set(list(total_data["sent_num"]))

In [123]:
result_dict={}

for sent in sent_list:
    tmp = total_data[total_data["sent_num"]=="500733466"]
    
    answer = tmp[tmp["rank"]==1]["document"].item() + "\n" + tmp[tmp["rank"]==2]["document"].item() + "\n" + tmp[tmp["rank"]==3]["document"].item()
    print(answer)
    
    result_dict[sent] = answer

▲ 석문간척지 임차법인협의회가 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓아두고 시위를 벌이고 있다.
석문간척지 임차법인협의회(이하 간척지협의회)가 농림축산식품부의 부당한 간척지 임대료 책정에 반발하며 지난달 30일 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓고 시위를 벌였다.
43개 영농조합법인이 소속된 간척지협의회는 이번 벼 야적 시위를 통해 현재 1kg당 2100원으로 책정된 임대료를 현재 쌀 판매가격인 1300원대로 인하할 것을 요구하고 있다.

/home/miyoun/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: `item` has been deprecated and will be removed in a future version

In [124]:
result_dict

{'678547366': '▲ 석문간척지 임차법인협의회가 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓아두고 시위를 벌이고 있다.\n석문간척지 임차법인협의회(이하 간척지협의회)가 농림축산식품부의 부당한 간척지 임대료 책정에 반발하며 지난달 30일 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓고 시위를 벌였다.\n43개 영농조합법인이 소속된 간척지협의회는 이번 벼 야적 시위를 통해 현재 1kg당 2100원으로 책정된 임대료를 현재 쌀 판매가격인 1300원대로 인하할 것을 요구하고 있다.'}

In [127]:
result_dict={}

for sent in sent_list:
    tmp = total_data[total_data["sent_num"]=="500733466"]
    
    print("\n".join(list(tmp[tmp["imp_sentence"]==1]["document"])))
    
    result_dict[sent] = answer
    break

▲ 석문간척지 임차법인협의회가 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓아두고 시위를 벌이고 있다.
석문간척지 임차법인협의회(이하 간척지협의회)가 농림축산식품부의 부당한 간척지 임대료 책정에 반발하며 지난달 30일 한국농어촌공사 당진지사 앞에 공공비축벼 320t을 쌓고 시위를 벌였다.
43개 영농조합법인이 소속된 간척지협의회는 이번 벼 야적 시위를 통해 현재 1kg당 2100원으로 책정된 임대료를 현재 쌀 판매가격인 1300원대로 인하할 것을 요구하고 있다.

In [ ]:
list(tmp[tmp["imp_sentence"]==1]["document"]).join("\n")